<footer class="footer  text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Quick Links Section -->
      <div class="col-md-4">
        <h5 class="footer-heading">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white hover:text-gray-400">Home</a></li>
          <li><a href="/seller-auth" class="text-white hover:text-gray-400">Seller Login</a></li>
          <li><a href="/seller-add-product" class="text-white hover:text-gray-400">Seller Dashboard</a></li>
          <li><a href="/user-auth" class="text-white hover:text-gray-400">User Login</a></li>
          <!-- <li><a href="cart-page" class="text-white hover:text-gray-400">Cart</a></li> -->
        </ul>
      </div>

      <!-- About Us Section -->
      <div class="col-md-4">
        <h5 class="footer-heading">About Us</h5>
        <p>
          We are committed to providing the best e-commerce experience. Our team
          works tirelessly to ensure that your shopping experience is seamless
          and enjoyable.
        </p>
      </div>

      <!-- Social Links -->
      <div class="col-md-4">
        <h3 class="footer-heading">Connect with Me</h3>
        <div class="flex justify-center">
          <a href="https://linkedin.com/in/asadmunir6645" target="_blank" class="footer-icon text-blue-700 hover:text-blue-900">
            <i class="fab fa-linkedin fa-2x bg-white rounded p-1"></i>
          </a>
          <a href="https://github.com/asadmunirdev" target="_blank" class="footer-icon text-gray-700 hover:text-gray-900">
            <i class="fab fa-github fa-2x bg-white rounded p-1"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100014569362969&mibextid=ZbWKwL" target="_blank" class="footer-icon text-blue-600 hover:text-blue-800">
            <i class="fab fa-facebook fa-2x bg-white rounded p-1"></i>
          </a>
          <a href="https://www.instagram.com/asadawan6645?igsh=MWNzd3hhb2Q5M2tnNg==" target="_blank" class="footer-icon text-pink-600 hover:text-pink-800">
            <i class="fab fa-instagram fa-2x bg-white rounded p-1"></i>
          </a>
          <a href="mailto:asadmunir6645@gmail.com" target="_blank" class="footer-icon text-blue-500 hover:text-blue-700">
            <i class="fas fa-envelope fa-2x bg-white rounded p-1"></i>
          </a>
          <a href="https://wa.me/+923244590782" target="_blank" class="footer-icon text-green-600 hover:text-green-800">
            <i class="fab fa-whatsapp fa-2x bg-white rounded p-1"></i> <!-- WhatsApp Icon -->
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <p class="mb-0">
      &copy; 2024 Developed by Asad Munir. All rights reserved.
    </p>
  </div>
</footer>
