<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Quick Links Section -->
      <div class="col-md-4">
        <h5 class="footer-heading">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white hover:text-gray-400">Home</a></li>
          <li><a href="/seller-auth" class="text-white hover:text-gray-400">Seller Login</a></li>
          <li><a href="/seller-home" class="text-white hover:text-gray-400">Seller Dashboard</a></li>
          <li><a href="/search" class="text-white hover:text-gray-400">Search</a></li>
          <li><a href="/about" class="text-white hover:text-gray-400">About Us</a></li>
        </ul>
      </div>

      <!-- About Us Section -->
      <div class="col-md-4">
        <h5 class="footer-heading">About Us</h5>
        <p>
          We are committed to providing the best e-commerce experience. Our team works tirelessly to ensure that your shopping experience is seamless and enjoyable.
        </p>
      </div>

      <!-- Social Links Section -->
      <div class="col-md-4">
        <h5 class="footer-heading">Follow Us</h5>
        <div class="d-flex justify-content-center">
          <a href="https://linkedin.com/in/asadmunir6645" target="_blank" class="text-white mx-2 footer-icon" aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="https://github.com/asadmunirdev" target="_blank" class="text-white mx-2 footer-icon" aria-label="GitHub">
            <i class="fab fa-github fa-2x"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100014569362969&mibextid=ZbWKwL" target="_blank" class="text-white mx-2 footer-icon" aria-label="Facebook">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/asadawan6645?igsh=MWNzd3hhb2Q5M2tnNg==" target="_blank" class="text-white mx-2 footer-icon" aria-label="Instagram">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="mailto:asadmunir6645@gmail.com" target="_blank" class="text-white mx-2 footer-icon" aria-label="Email">
            <i class="fas fa-envelope fa-2x"></i>
          </a>
          <a href="tel:03244590782" target="_blank" class="text-white mx-2 footer-icon" aria-label="Phone">
            <i class="fas fa-phone fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <p class="mb-0">&copy; 2024 Developed by Asad Munir. All rights reserved.</p>
  </div>
</footer>
