<!-- WhatsApp Button -->
<a href="https://wa.me/+923244590782" target="_blank" class="whatsapp-button" *ngIf="isVisible && showButtons">
  <i class="fab fa-whatsapp"></i> <!-- WhatsApp Icon -->
</a>

<!-- Go to Top Button -->
<button class="go-to-top" (click)="scrollToTop()" *ngIf="isVisible && showButtons">
  <i class="fas fa-chevron-up"></i> <!-- Alternative Go to Top Icon -->
</button>
  
<!-- Go to Bottom Button -->
<button class="go-to-bottom" (click)="scrollToBottom()" *ngIf="isVisible && showButtons">
  <i class="fas fa-chevron-down"></i> <!-- Alternative Go to Bottom Icon -->
</button>
