<div class="cart-page container">
    <h1 class="text-center heading">
      <i class="fas fa-shopping-cart"></i>
      Shopping Cart
    </h1>
    <div class="row">
      <ng-container *ngIf="cartData && cartData.length > 0; else emptyState">
        <div class="col-lg-8 col-md-7 cart-items">
          <div class="card mb-3 custom-card" *ngFor="let cart of cartData">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 image-section">
                  <img
                    src="{{ cart.image }}"
                    class="img-fluid cart-image"
                    alt="{{ cart.name }}"
                  />
                </div>
  
                <div class="col-lg-5 col-md-5 details-section">
                  <h5 class="card-title">
                    {{ cart.name | titlecase }}
                  </h5>
                  <p class="card-text product-price">
                    <strong>Price:</strong> {{ cart.price || 0  }} x
                    <span class="quantity-display">{{ cart.quantity || 1 }}</span>
                    =
                    <strong>{{
                      (cart.price || 0) * (cart.quantity || 1) | pkrCurrency
                    }}</strong>
                  </p>
                  <p class="product-color">
                    <strong>Color:</strong>
                    <span
                      class="color-swatch"
                      [style.backgroundColor]="cart.color | lowercase"
                    ></span>
                    {{ cart.color | titlecase }}
                  </p>
  
                  <!-- Quantity Control Section -->
                  <div class="quantity-group d-flex align-items-center justify-center mt-3">
                    <button
                      (click)="decreaseQuantity(cart)"
                      class="btn btn-secondary bg-gray-700 text-white hover:bg-gray-600 focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 rounded-md px-4 py-2"
                    >
                      -
                    </button>
                    <input
                      type="text"
                      [(ngModel)]="cart.quantity"
                      class="form-control text-center mx-2 quantity-input"
                      readonly
                    />
                    <button
                      (click)="increaseQuantity(cart)"
                      class="btn btn-secondary bg-gray-700 text-white hover:bg-gray-600 focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 rounded-md px-4 py-2"
                    >
                      +
                    </button>
                  </div>
                </div>
  
                <div class="col-lg-3 col-md-3 button-section text-center">
                  <button
                    *ngIf="cart.id"
                    (click)="removeCart(cart.id)"
                    class="cancel-button"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-5 order-summary">
          <div class="summary-card">
            <h3>Order Summary</h3>
            <hr />
            <p>
              <strong>Subtotal:</strong> {{ priceSummary.price | pkrCurrency }}
            </p>
            <p>
              <strong>Discount:</strong> {{ priceSummary.discount | pkrCurrency }}
            </p>
            <p>
              <strong>Delivery Charges:</strong>
              {{ priceSummary.delivery | pkrCurrency }}
            </p>
            <p><strong>Tax:</strong> {{ priceSummary.tax | pkrCurrency }}</p>
            <hr />
            <p class="total">
              <strong>Total:</strong> {{ priceSummary.total | pkrCurrency }}
            </p>
            <hr />
            <button (click)="checkout()" class="btn btn-primary btn-block">
              Proceed to Checkout
            </button>
          </div>
        </div>
      </ng-container>
  
      <ng-template #emptyState>
        <div class="col-12">
          <app-empty-state
            title="Your cart is empty!"
            message="Add items to your cart to see them here."
            buttonLabel="Continue Shopping"
            link="/"
          ></app-empty-state>
        </div>
      </ng-template>
    </div>
  </div>
  