<div class="cart-page container mt-5">
    <h1 class="text-center">
        <i class="fas fa-shopping-cart"></i> <!-- Shopping cart icon -->

        Shopping Cart</h1>
    <div class="row">
        <!-- Cart Items Section for Desktop -->
        <div class="col-lg-8 col-md-7 cart-items">
            <div class="card mb-3 custom-card" *ngFor="let cart of cartData">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- Image Section -->
                        <div class="col-lg-4 col-md-4 image-section">
                            <img src="{{cart.image}}" class="img-fluid cart-image" alt="{{cart.name}}" />
                        </div>

                        <!-- Product Details Section -->
                        <div class="col-lg-5 col-md-5 details-section">
                            <h5 class="card-title">{{cart.name | titlecase}}</h5>
                            <p class="card-text product-price"><strong>Price:</strong> {{cart.price | pkrCurrency}}</p>
                            <p class="product-color">
                                <strong>Color:</strong>
                                <span class="color-swatch" [style.backgroundColor]="cart.color | lowercase"></span>
                                {{ cart.color | titlecase }}
                            </p>
                            <p class="product-category"><strong>Category:</strong> {{cart.category | titlecase}}</p>
                            <p class="product-description">{{cart.description | titlecase}}</p>
                            <p class="product-quantity"><strong>Quantity:</strong> {{cart.quantity}}</p>
                        </div>

                        <!-- Buttons Section -->
                        <div class="col-lg-3 col-md-3 button-section text-center">
                            <div class="btn-group" role="group" aria-label="Item Actions">
                                <button routerLink="/details/{{ cart.productId }}" class="btn btn-info go-to-item-btn">Product</button>
                                <button  class="btn btn-danger remove-btn">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order Summary Section -->
        <div class="col-lg-4 col-md-5 order-summary">
            <div class="summary-card">
                <h3>Order Summary</h3>
                <hr />
                <p><strong>Subtotal:</strong> $500.00</p>
                <p><strong>Discount:</strong> - $50.00</p>
                <p><strong>Delivery Charges:</strong> $20.00</p>
                <hr />
                <p class="total"><strong>Total:</strong> $470.00</p>
                <hr />
                <button class="btn btn-primary btn-block">Proceed to Checkout</button>
            </div>
        </div>
    </div>
</div>
