<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 add-product">
      <h1 class="text-center mb-4">Add Product</h1>
      <p class="messagee_p">{{ addProductMessage }}</p>
      <form [formGroup]="addProductForm" (ngSubmit)="submit()" class="common-form">
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <input type="text" class="form-input form-control" placeholder="Enter Product Name" formControlName="name" />
          </div>
          <div class="col-12 col-md-6">
            <input type="text" class="form-input form-control" placeholder="Enter Product Price" formControlName="price" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <input type="text" class="form-input form-control" placeholder="Enter Product Color" formControlName="color" />
          </div>
          <div class="col-12 col-md-6">
            <select class="form-input form-control" formControlName="category">
              <option value="" disabled selected>Select a Category</option>
              <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-input form-control" placeholder="Enter Product Image URL" formControlName="image" />
        </div>
        <div class="mb-3">
          <textarea class="form-input form-control" placeholder="Enter Product Description" formControlName="description" rows="2" [maxlength]="70"></textarea>
        </div>
        <button class="form-button btn btn-primary w-100 mb-3" type="submit">Add Product</button>
      </form>
    </div>
  </div>
</div>
