<div class="container product-details" *ngIf="productData">
  <div class="row">
    <div class="col-md-6 text-center">
      <img
        class="img-fluid product-img"
        [src]="productData.image"
        alt="{{ productData.name | titlecase }}"
      />
    </div>
    <div class="col-md-6">
      <div class="details">
        <h1>{{ productData.name | titlecase }}</h1>
        <h3 class="price">Price: {{ productData.price | pkrCurrency }}</h3>
        <div class="d-flex align-items-center color-section">
          <span class="me-2">Color:</span>
          <span
            class="product-color"
            [style.backgroundColor]="productData.color | titlecase"
          ></span>
        </div>
        <h6 class="category">Category: {{ productData.category | titlecase }}</h6>
        <p class="description">{{ productData.description | titlecase }}</p>
        <div class="btn-group mt-4 mb-4">
          <button *ngIf="!removeCart" class="btn btn-warning me-3" (click)="AddToCart()">Add to Cart</button>
          <button *ngIf="removeCart" class="btn btn-warning me-3" (click)="RemoveFromCart(productData.id)">Remove from Cart</button>
          <button class="btn btn-success">Buy Now</button>
        </div>
        <div class="quantity-group d-flex align-items-center mt-3">
          <button
            (click)="handleQuality('min')"
 class="btn btn-secondary bg-gray-700 text-white hover:bg-gray-600 focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 rounded-md px-4 py-2"          >
            -
          </button>
          <input
            type="text"
            value="{{ productQuantity }}"
            class="form-control text-center mx-2 quantity-input"
          />
          <button
            (click)="handleQuality('plus')"
 class="btn btn-secondary bg-gray-700 text-white hover:bg-gray-600 focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 rounded-md px-4 py-2"          >
            +
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


