<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
  <div class="message-card card shadow-lg p-4">
    <div class="anim-container mb-4">
      <img
        class="ball"
        src="http://images.clipartpanda.com/soccer-ball-clip-art-9c4enbocE.png"
        alt="Ball Animation"
      />
      <div class="running-balls ball-1"></div>
      <div class="running-balls ball-2"></div>
      <div class="running-balls ball-3"></div>
    </div>
    <h2 class="text-message text-center">Before buying any product, you must log in first.</h2>
    <a (click)="loginPage()" class="btn btn-gradient btn-lg mt-3">Go to Login</a>
  </div>
</div>
