<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 seller-auth">
      <!-- Sign Up Form -->
      <div *ngIf="!showLogin" class="sign-up">
        <h1 class="text-center mb-4">Seller Sign-up</h1>
        <form
          #sellerSignUp="ngForm"
          (ngSubmit)="signUp(sellerSignUp)"
          class="common-form"
        >
          <!-- Name input field -->
          <div class="mb-3">
            <input
              type="text"
              class="form-input form-control"
              placeholder="Enter Name"
              name="name"
              ngModel
              #name="ngModel"
              required
            />
          </div>
          <p class="invalid-input">
            <span *ngIf="name.invalid && name.touched"
              >Please Enter a Valid Name</span
            >
          </p>

          <!-- Email input field -->
          <div class="mb-3">
            <input
              type="email"
              class="form-input form-control"
              placeholder="Enter Email"
              name="email"
              ngModel
              #email="ngModel"
              email
              required
            />
          </div>
          <p class="invalid-input">
            <span *ngIf="email.invalid && email.touched"
              >Please Enter a Valid Email</span
            >
          </p>

          <!-- Password input field -->
          <div class="mb-3">
            <input
              type="password"
              class="form-input form-control"
              placeholder="Set Password"
              name="password"
              ngModel
              #password="ngModel"
              minlength="3"
              maxlength="20"
              required
            />
          </div>
          <p class="invalid-input">
            <span *ngIf="password.invalid && password.touched"
              >Please Enter a Valid Password</span
            >
          </p>

          <!-- Security Key input field -->
          <div class="mb-3">
            <input
              type="password"
              class="form-input form-control"
              placeholder="Enter Security Key"
              name="securityKey"
              ngModel
              #securityKey="ngModel"
              minlength="8"
              maxlength="15"
              required
            />
          </div>
          <p class="invalid-input">
            <span *ngIf="securityKey.invalid && securityKey.touched"
              >Please Enter the Security Key</span
            >
          </p>
          <p class="invalid-input" *ngIf="securityError">{{ securityError }}</p>

          <!-- Submit button, disabled if form is invalid -->
          <button
            [disabled]="sellerSignUp.invalid"
            class="form-button btn btn-primary w-100 mb-3"
            type="submit"
          >
            Sign Up
          </button>

          <!-- Link to switch to the login form -->
          <a (click)="openLogin()" class="d-block text-center">
            Already have an account? Click for Login
          </a>
        </form>
      </div>

      <!-- Login Form -->
      <div *ngIf="showLogin" class="login">
        <h1 class="text-center mb-4">Seller Login</h1>
        <p class="error-p">{{ authError }}</p>
        <form
          #sellerLogin="ngForm"
          (ngSubmit)="login(sellerLogin)"
          class="common-form"
        >
          <!-- Email input field -->
          <div class="mb-3">
            <input
              type="email"
              class="form-input form-control"
              placeholder="Enter Email"
              name="email"
              ngModel
              #email="ngModel"
              email
              required
            />
          </div>
          <p class="invalid-input">
            <span *ngIf="email.invalid && email.touched"
              >Please Enter a Valid Email</span
            >
          </p>

          <!-- Password input field -->
          <div class="mb-3">
            <input
              type="password"
              class="form-input form-control"
              placeholder="Enter Password"
              name="password"
              ngModel
              #password="ngModel"
              minlength="3"
              maxlength="20"
              required
            />
          </div>
          <p class="invalid-input">
            <span *ngIf="password.invalid && password.touched"
              >Please Enter a Valid Password</span
            >
          </p>

          <!-- Submit button, disabled if form is invalid -->
          <button
            [disabled]="sellerLogin.invalid"
            class="form-button btn btn-primary w-100 mb-3"
            type="submit"
          >
            Login
          </button>

          <!-- Link to switch to the sign-up form -->
          <a (click)="openSignUp()" class="d-block text-center">
            Don't have an account? Click for Sign Up
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
