<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 update-product">
      <h1 class="text-center mb-4">Update Product</h1>
      <p class="messagee_p">{{ productMessage }}</p>
      <form [formGroup]="updateProductForm" (ngSubmit)="submit()" class="common-form">
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <input
              type="text"
              class="form-input form-control"
              placeholder="Enter Product Name"
              formControlName="name"
              required
            />
          </div>
          <div class="col-12 col-md-6">
            <input
              type="text"
              class="form-input form-control"
              placeholder="Enter Product Price"
              formControlName="price"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <input
              type="text"
              class="form-input form-control"
              placeholder="Enter Product Color"
              formControlName="color"
              required
            />
          </div>
          <div class="col-12 col-md-6">
            <select class="form-input form-control" formControlName="category">
              <option value="" disabled>Select a Category</option>
              <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-input form-control"
            placeholder="Enter Product Image URL"
            formControlName="image"
            required
          />
        </div>
        <div class="mb-3">
          <textarea
            class="form-input form-control"
            placeholder="Enter Product Description"
            formControlName="description"
            required
            rows="4"
          ></textarea>
        </div>
        <button class="form-button btn btn-primary w-100 mb-3" type="submit">
          Update Product
        </button>
      </form>
    </div>
  </div>
</div>
